div.content {
    line-height: 27px;
    padding: 12px;
    background-color: #fff;
}

h1 {
	font-weight: bold;
	font-size: 26px;
	color: #6D3B6D;
	margin-bottom: 10px;
	line-height: 30px;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	color: #4A3508;
	letter-spacing: 3px;
	font-weight: bold;
}

div.content h3, .h3Div {
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #993300;
	letter-spacing: 1px;
	width: 100%;
	line-height: 20px;
    margin: 12px 0 12px 0;
}

h4 {
	font-size: 1em;
	font-weight: bold;
	color: #460D46;
	margin-bottom: 5px;
}

a, a:hover {
    background: #fbfba1;
    text-decoration: none;
}

/***** SOME LIST ITEM STYLES *****/
.listItem {
    padding-left: 6px;
}

.listItem.big {
    padding-left: 58px;
    min-height: 48px;
}

.listItem .avatar, .listItem .avatarBig {
    position: absolute;
    left: 10px;
}

.listItem .avatar img {
    max-width: 46px;
}

.listItem .count {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    padding: .2em .5em;
    top: 50%;
    margin-top: -.9em;
    right: 6px;
    moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: 0 1px 1px #F6F6F6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eee);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eee);
    background-image: -o-linear-gradient(top, #fdfdfd, #eee);
    background-image: linear-gradient(top, #fdfdfd, #eee);
    border: 1px solid #CCC;
    background: #EEE;
    font-weight: bold;
    color: #444;
}

/***** OTHER STYLES *****/
.headerIcon {
    background: url("../images/stuffsafeLogo.png") no-repeat;
    width: 180px;
    height: 42px;
    display: inline-block;
    margin-top: 2px;
}

.x-list-item-body {
    font-size: 80% !important;
}

strong, b {
    font-weight: bold !important;
}

.subText {
    font-size: 70%;
    color: #868484;
}

.biggerText {
    font: 18px arial;
    color: #000;
    text-shadow: white 0 1px 1px;
}

a.bigFont {
    text-decoration: none;
    font: bold 20px arial;
    color: #000;
}

/***** SOME CALENDAR STYLES *****/
#calendar {
    margin-top: -10px;
}

.fc-view-month table {
	border-collapse: separate;
	border: 1px solid #9DABCE;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
}
.fc-view-month table tr td {
	width: 81px;
	min-height: 60px !important;
	text-align: center;
	vertical-align: middle;
	background: url(../images/cells.png);
	color: #444;
	position: relative;
}

.fc-view-month table thead th {
	font-weight: bold;
    height: 20px;
	font-size: 60%;
    text-align: center;
    background: url(../images/cells.png);
	color: #444 !important;
}

.fc-view-month table tr td:hover {
	background-position: 0px -81px;
	color: #222;
}

.fc-view-month table tr td.date_has_event {
	background-position: 162px 0px;
	color: white;
}

.fc-view-month table td.date_has_event:hover {
	background-position: 162px -81px;
}

.fc-view-month table td.padding {
	background: url(../images/calpad.jpg);
}

.fc-view-month table tr td.fc-today {
	background-position: 81px 0px;
	color: white;
}

.fc-view-month table tr td.fc-today:hover {
	background-position: 81px -81px;
}

.fc-view-month table tr td.fc-other-month {
    color: #fff !important;
}

.fc-day-content div {
    height: 30px !important;
}

.eventDot {
    display: block;
    width: 5px !important;
    height: 5px !important;
    background-color: red;
    margin: 3px;
}

/***** JOB TIMER STYLES ******/
#timerContainer {
    width: 100%;
    text-align: center;
}

.timerClockReadout {
	font: 50px arial;
	color: #333;
}

/***** SOME ICONS *****/
.whitePanel {
    background: #fff !important;
}
.iconListBig {
    padding-left: 78px;
    min-height: 72px;
}

.iconListBig span {
    display: block;
}

.taskOverdue {
    background: url(../images/Notepad.png) no-repeat left;
}

/***** WHITE PANELS *****/
.whitePanelRadius {
    margin-right: 1em;
    margin-left: 1em;
    background-color: #fff;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #dedbdb;
}

.whitePanelRadius div.contactItemContainer {
    padding: .75em 0 .75em 0;
    min-height: 50px;
    border-bottom: 1px solid #dedbdb;
}

.contactLeft {
    float: left;
    width: 30%;
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
    font-size: 75%;
}

.contactRight {
    float: left;
    width: 55%;
    font-size: 80%;
    font-weight: bold;
}

a.linkNoShow {
    text-decoration: none;
    color: #000;
}

.small {
    font-size: 80%;
}

.blue {
    color: #003399;
}

.buttonAttachCount {
    background: #000;
    color: #fff;
    font-size: 15px;
}

.bgWhite {
    background: #fff;
    border: none !important;
}

.buttonTakePhoto, .buttonTakePhoto.x-button-pressed {
    width: 41px;
    height: 41px;
    background: url(../images/buttonTakePhoto.png) no-repeat left;
    border: none !important;
    margin-right: 12px;
}

.buttonSelectPhoto, .buttonSelectPhoto.x-button-pressed {
    width: 41px;
    height: 41px;
    border: none !important;
    margin-right: 12px;
    background: url(../images/buttonSelectPhoto.png) no-repeat left;
}

.buttonAttached {
    width: 79px;
    height: 41px !important;
    padding-left: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    background: url(../images/buttonAttached.png) no-repeat left;
}

.buttonAttached .x-panel-body {
    height: 41px;
    background: none;
    color: #084b63;
}

.small {
    font-size: 80%;
}

.blue {
    color: #003399;
}

.x-list-item.x-item-selected p.biggerText {
    color: #fff;
    text-shadow: none;
}
